html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
}
div.flex{
    display: flex;
}
div.full-container{
    width: 100%;
    margin:0 auto;
}
div.large-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin:0 auto;
}
div.container{
    width: 100%;
    margin:0 auto;
}
html{
    width: 100%;
    text-align: center;
    margin: 0;
}
h2{
    font-family: 'Montserrat';
}
body{
    width: 100%;
    font-family: 'Lato';
}
header{
    background-color: #00043E;
}
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header .large-container figure{
    text-align: left;
}

header .large-container figure img{
    width: 40%;
    height: 40%;
}

header div nav figure .menu-hamburguer{  
    
    width: 40%;
    height: 40%;
}

header .large-container nav{    
    width: 20%;
}
header .large-container nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    visibility: hidden;
}
header .secaoDestaque{
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
header .secaoDestaque h2{    
    margin: 10px 0px;
    
}
header .secaoDestaque p{    
    margin-bottom: 10px;
    
}
.secaoDestaqueFormulario input{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: -6px;
    padding-left: 5px;
    border: none;
}

.secaoDestaqueFormulario button{
    color: #FFFFFF;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    background-color: #007aff;
}

main{
    width: 100%;
    margin: auto;
}

main .secaoSobre{
    width: 70%;
    margin: auto;
}
main .secaoSobre .flex{
    padding: 30px 0px;
}
main .secaoSobre .flex h2{
    padding-bottom: 30px;
    color: #4b4b4b;
}
main .secaoSobre .flex p{
    padding-bottom: 30px;
    color: #4b4b4b;
    font-weight: 500;
}
main .secaoSobre .flex p:nth-child(3){
    padding-bottom: 30px;    
    color: #818181;
    font-weight: 500;
}

main .python .flex-col .button button{
    background-color: #FFFFFF;
    border: 1px solid #818181;
}

main .secaoSobre .flex .python .flex-col h2, main .secaoSobre .flex .python .flex-col p{
    text-align: left;
    padding-bottom: 30px;
}
main .secaoSobre .flex .python .flex-col .button{
    text-align: left;
}
main .secaoSobre .flex .python .flex-col button{
    width: 70%;
    height: 50px;
}
main .secaoSobre .flex .python .image figure img{
    width: 40%;
    margin: 30px 0px;
}
main .secaoSobre .flex .javascript{
    background-color: #F6F6F6;
    padding: 40px 0px;
    width: 100%;
    margin-top: 20px;
}
main .secaoSobre .flex .javascript .flex-col figure img{
    width: 15%;
}
main .secaoSobre .flex .javascript .lista ul{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style-position: inside;
    list-style: square;
}
figcaption{
    visibility: hidden;
}

footer{
    text-align: center;
}
    @media screen and (min-width: 400px) {
    }
    @media screen and (min-width: 800px) {
        header div nav ul li{
            font-size: 13px;            
        }

        header section .secaoDestaque h2{
            font-size: 63px;
        
        }

        header section .secaoDestaque p{
            font-size: 21px;
        
        }

        main .secaoSobre .flex .python {
            display: flex;
            flex-direction: row;
        }
        main .secaoSobre .flex .python .image figure img{
            width: 300px;
        }
        main .secaoSobre .flex .javascript{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        main .secaoSobre .flex .javascript .flex-col figure img{
            width: 30%;
        }
        main .secaoSobre .flex .python .flex-col button{
            width: 50%;
        }

        main .secaoSobre h2{
            font-size: 24px;
        }

        main .secaoSobre p{
            font-size: 19px;
        }
    }